[2020-04-24 18:37] TK5-Tim opened #1 "Idea: Generalized workflow for fetching the different data sources"
My idea is a workflow of fetching data from different data sources without having to code the whole import all the time.

The goal would be to have a Framework that includes maximal possible implementation for a generalized data import. So that you have less work if you want to add different sources.
You probably cannot would not have a "one implementation fits all" solution because the way data i

[2020-04-25 12:09] koenvo commented on #1
I think what you are describing makes sense. It would help a lot when there are a datasource/fetcher with a standard interface available for all kind of sources. The implementation of such an DataSource doesn't need to be known by the user, only the arguments it need.

For now I only have the details for how to fetch the data for StatsBomb event data. Not sure if other providers have a API availab

[2020-05-08 20:18] bdagnino opened #3 "Metadata model"
Would be useful to have a game model with pre defined fields that get filled automatically if the data is available on the data package, or could get filled in manually.

Could be based on the fields/inputs present in the FIFA EPTS standard format:
1. Global
2. Teams
3. Players

This way independently of the data provider you could have the same fields and know whether they are available or not.

[2020-05-14 18:25] koenvo opened #5 "Setup code formatting tool"
kloppy doesn't have any code formatting tool in place. To make sure the code will be maintainable in the long term a code formatter is needed.

Black ( https://github.com/psf/black ) might be a good option.

[2020-05-14 18:27] koenvo opened #6 "Setup docs"
The 'readthedocs' page is created but there is no:
1. Configuration
2. Docs

We should setup configuration to have the docs automatically generated. And create a list of topics that we would like to cover. My first idea is that examples are really important for the community.

[2020-05-14 18:34] koenvo opened #7 "Create a toolbox of generic but often used mutations"
When a dataset is loaded often a lot of preprocessing needs to be done before the actual model can be applied. A first step was to add the `Transformer` class to change orientation of the dataset and scale the pitch.

It would be great to have a filled toolbox. There we need to keep in mind that we are able to apply a chain of tools with different settings. An example is scikit-learn 'Pipeline' (

[2020-05-16 05:33] koenvo commented on #1
Hi Tim,

I partly implemented your proposal. Because I don’t know all the apis of the providers yet, I implemented a way to load public available datasets.

First one is Metrics tracking data but others should follow shortly.

Can you have a look at https://github.com/PySport/kloppy/blob/master/examples/datasets/metrica.py and let me know if this helps you?

[2020-05-16 22:37] TK5-Tim commented on #1
That looks great! Thank you very much. Very cool what are you building up with kloppy :)

[2020-05-16 22:37] #1 closed

[2020-05-18 06:43] aeroaks commented on #6
I would like to setup configuration for the docs.

[2020-05-18 08:01] koenvo commented on #6
Great! I now picked readthedocs but if you think something else would be better, please elaborate :-)

 Do you think it’s possible to create a pull request for a “hello world” docs?

[2020-05-18 09:30] koenvo opened #10 "Refactor serializer options into own component"
The tracking serializers accept options to reduce the number of frames that needs to be loaded:
- limit: total number of frames to be returned
- sample_rate: return only each nth frame
- only_alive: return only frames where ball is alive (when provider added that info to dataset)

I would like to be able to filter on time stamps. Use case is to grab only frames when some event happened and inspect

[2020-05-20 06:59] ivd-git opened #13 "Make loader support mechanism extensible"
Now the loader support mechanism can download files from HTTP/HTTPS sources. Would be nice to make it extensible so that it can also load from S3 buckets or other locations.

At this branch there is some pseudo code to show how it could be implemented:
https://github.com/ivd-git/kloppy/tree/spike/loader-mechanism

[2020-05-21 06:39] koenvo commented on #13
Cool! I this also related somehow to writing datasets? I can imagine I would like to read a dataset from provider A, do some transformations and then store it on S3, for later usage.

[2020-05-26 14:47] koenvo opened #14 "Event models"
TODO:
- Investigate event and attribute availability around providers (opta, statsbomb, metrica, wyscout to start with)
- Determine version 1: event types (`pass, shot, dribble`) and attributes (from step 1)
- Write the models

V2:
- Make it possible to read into Raw Events (inspired by Atomic-SPADL)

An Event might have to following structure.
team
team_code
type
type_code
subtype
subtype_code
pe

[2020-05-27 20:25] koenvo commented on #6
Hi @aeroaks! Any chance to look at this? Would be cool to make a start with this.

[2020-05-28 07:26] aeroaks commented on #6
Hi @koenvo, Did not get time to look at this. I will try to send a PR. I am good with 'readthedocs'. Do we already have an account made on readthedocs?

[2020-05-28 09:59] koenvo commented on #6
great! There is already a readthedocs account. It is already linked to this repository. Changes should get picked up automatically right?

[2020-05-29 09:06] aeroaks commented on #6
Yes Thats the case. I will submit a PR and then when can check.

[2020-05-30 06:42] koenvo commented on #6
Awesome!

[2020-06-04 09:04] koenvo commented on #14
First version fixed in https://github.com/PySport/kloppy/pull/15

[2020-06-04 09:04] #14 closed

[2020-06-11 19:47] koenvo commented on #3
While playing around with the pattern matching it's very useful to have metadata to be able to directly see names instead of only jersey numbers. Let's spend some time on this one soon

[2020-06-12 15:40] bdagnino opened #17 "IDs instead of [home, away, shirt_number]"
Currently while building the datasets, the way to reference a team is by [home, away], and the way to reference a player is by combining [home, away] with the shirt number. I believe when available in the data, it would be better to index by the team and players IDs.

What are your thoughts on this?

[2020-06-12 15:51] koenvo commented on #17
Good one. I would like to make this configurable. When combining data from different providers it easier to use shirt numbers.

For what use case would you like the provider ids?

OR implement https://github.com/PySport/kloppy/issues/3 and add a little helper / layer to go from shirt number to provider id.

I think I’d prefer the last one. Would that work for you?

[2020-06-12 17:20] bdagnino commented on #17
By last one you mean "go for the provider ids by default and have a mapper to go to shirt numbers"? I'd agree with that. The game model on #3 could have field to specify which provider are the tracking and event from and that can be used in the mapper to go from ids to shirt number.

[2020-06-13 13:41] koenvo commented on #17
Brainfart here for the internals: introduce a PlayerIdentifier type which holds IdentifierType (Jersey, Provider[Statsbomb], Provider[Metrica], etc) and the value.

and use player_id instead of jersey_number everywhere.

The PlayerIdentifier __eq__ method should check type and raise exception when types don't match. This will prevent mistakes when trying to match different types of identifiers

[2020-06-13 16:31] benoitblanc opened #19 "Error transforming tracking dataset : position undefined"
Hello,

I tried to use transform method to update tracking dataset to new pitch dimensions but I ran into error because ball position from first frame is `None`.

Here is the Traceback :
[code]

This is an easy problem that I can solve for my first contribution 😄

[2020-06-13 19:03] #19 closed

[2020-06-13 19:04] koenvo commented on #19
Thanks @benoitblanc !! Great catch

[2020-06-13 19:10] koenvo opened #21 "Opta Event data serializer"
Need to enter some details here

[2020-06-13 19:57] koenvo opened #22 "Wyscout event data serializer"

[2020-06-13 21:04] dmallory42 commented on #5
Hi, are you accepting contributions on this?

[2020-06-14 04:39] koenvo commented on #5
Yes!

[2020-06-14 19:33] dmallory42 commented on #5
I've created a pull request for this issue: #23

[2020-06-15 05:57] koenvo commented on #3
@bdagnino does it make sense for your usecase to attach a metadata attribute to the dataset containing the metadata?

[2020-06-15 12:54] bdagnino commented on #3
@koenvo yes. Let me know if you want any help with the implementation or need any extra feedback.

[2020-06-15 13:10] koenvo commented on #3
Would be good to discuss the models in more detail.

It should include at least:

[code]

[2020-06-15 17:41] bdagnino commented on #3
Nice! Solid base! Additions I think are important:

1. Pitch for the dimensions of the field, it would be the same Pitch model already available the models/common.py
2. frame_rate
3. score
4. Periods, same as in models/common.py

In the future we could consider adding Subtitutions, but not necesary for now I believe.

So the model would be:

[code]

What do you think?

[2020-06-15 18:55] koenvo commented on #5
Thanks @dmallory42

[2020-06-15 18:55] #5 closed

[2020-06-15 19:04] koenvo commented on #3
I rather don't have copies of periods/pitch/frame_rate. So I would then move all attributes other than `records` (which are metadata actually) from Dataset to Metadata. For compatibility we can add some deprecated properties on Dataset that return values from Metadata.

That way metadata and data are nicely separated.

[2020-06-15 20:48] bdagnino commented on #3
Sounds good! I think it makes sense to have the info only on metadata, and only data in the dataset.

[2020-06-16 10:59] koenvo commented on #3
I would keep a reference from the dataset to the metadata as the container (Dataset) makes it easy to pass it around. And processing the records often require the Metadata too.

[code]

[2020-06-16 19:35] koenvo commented on #6
were you able to make progress on this on @aeroaks ? If you are unable to spend time on it, no problem!

[2020-06-16 21:09] aeroaks commented on #6
Sorry, bit involved in some stuff. If someone is willing to pick it up then please go ahead.

[2020-06-17 06:22] koenvo opened #25 "Discuss other sports"
Kloppy started as a library for handling soccer event and tracking in a standardized way. There are many providers for just this data.

With the release of klopp-queue we introduced a algorithm agnostic way of searching for interesting event patterns. The expectation is this will grow to also operate on tracking data and combinations of event and tracking data.

This framework can be applied to ev

[2020-06-17 06:58] liampauling commented on #25
Hi, I maintain the [betfairlightweight](https://github.com/liampauling/betfair) package so have a keen interest in live sports data, I have been following for a while and posted a few of your posts on our [slack group](https://betfairlightweight.herokuapp.com/) (which you are welcome to join)

A recent advancement in tracking has been added to horse racing via [TPD](http://www.totalperformancedata

[2020-06-18 04:19] samirak93 commented on #6
Hey, we can use Sphinx to create the documentation. Some of the useful blogs/tutorials:

- [https://www.sphinx-doc.org/en/master/usage/quickstart.html](https://www.sphinx-doc.org/en/master/usage/quickstart.html)

- Themes: [https://sphinx-themes.org/](https://sphinx-themes.org/)

If the docstrings are available in the source code, creating docs is straightforward. I've used Pandas style theme for

[2020-06-26 13:53] TK5-Tim opened #27 "User Documentation in Github Wiki"
I think it would be very useful to have a full documentation with examples and everything in the github Wiki.
With more and more things being added the ReadMe gets to overcrowded. With the Wiki you can make an extra tab for every topic and can have several or more specific examples.

Would be happy to help with that!

[2020-06-28 20:43] rjtavares opened #29 "Allow users to pass a function to add extra columns to `to_pandas` output"
My use case: using Statsbomb data, I wanted to know which player was pressured in each pressure events.

To solve that I used a custom `_record_converter` when I called `to_pandas`, similar to `_event_to_pandas_row_converter` but with an extra line in the row dict:

    first_related_event = event.raw_event['related_events'][0] if 'related_events' in event.raw_event else None,

It worked perfectly

[2020-06-29 08:32] koenvo commented on #27
Do you think the github wiki is better than the solution proposed in https://github.com/PySport/kloppy/issues/6 ?

And totally agree the readme is getting overcrowded!

[2020-06-29 08:35] koenvo commented on #29
Yes that makes sense! I was thinking the record to pandas function could be exposes so it’s easier to do composition, but that makes it harder to use.

Better to do that “magic” hidden for the end user.

Could you create a pull request for this?

[2020-06-29 12:00] TK5-Tim commented on #27
No #6 looked fine and there should not be much of a difference in useability. I just did not see the issue.

[2020-06-29 12:00] #27 closed

[2020-06-29 12:52] rjtavares commented on #29
Yes, I'll try.

What you want the argument to be called (I don't love custom_fields)?

[2020-06-29 13:09] koenvo commented on #29
I would probably go for “additional_columns”, or “custom_columns”. And it might be useful to let it also accept scalar values in case someone would like to add static data - like match id.

[2020-06-30 18:55] rjtavares commented on #29
Alright, so I think I got it working, but I can't run the tests successfully (although I can't run the tests on the master either, I don't think I broke anything).

Are there any problems with the tests?

You can check my changes [here](https://github.com/rjtavares/kloppy/commit/5c3ad2322c24116ac5ba014bb60b5dd3c783277d)

[2020-06-30 20:04] koenvo commented on #29
Thanks for the Pull request!

Do you get any error message when you try to run the tests? When you run "pytest" in the root it should be able to run all tests.

Some feedback on the code:
1. It would be nice to raise an exception when both `additional_columns` and `_record_converter` are passed to inform the user those are mutually exclusive
2. Please use `lamdba event` and `lambda frame` instead

[2020-06-30 20:15] rjtavares commented on #29
The error I get:

[code]

[2020-07-01 00:27] fsartoris opened #30 "README Quickstart Files"
Hi, i am very interested in this kind of projects related to Data & Sports. I am following the README instructions and into the Quickstart section I cannot find the files for each tracking system defined. I understand that each one has published or shared some data files to start using/experimenting this tool but I cannot found into the repo. These files are in another repo? Where is the location?

[2020-07-01 06:36] koenvo commented on #29
Right. That looks like an issue with timezones. You ignore it for now and I’ll fix it.

[2020-07-01 07:04] rjtavares commented on #29
OK. I'll address your suggestions and make a pull request.

[2020-07-01 09:52] koenvo commented on #29
Great! If you need any help please let me know

[2020-07-01 11:22] koenvo commented on #30
Thanks for your feedback. We are working on getting the documentation at a higher level. The example you refer to is when you have those files from a provider yourself.

When you want to start and use public data I advise you to use the `datasets` api. This will make sure the files are fetched and get you going right away. https://github.com/pySport/kloppy#public-datasets--very-quick-start

Hope t

[2020-07-01 20:13] rjtavares commented on #29
Submitted: https://github.com/PySport/kloppy/pull/31

[2020-07-01 21:31] #29 closed

[2020-07-09 19:28] koenvo commented on #21
Added in https://github.com/PySport/kloppy/pull/26

[2020-07-09 19:28] #21 closed

[2020-07-09 19:29] koenvo commented on #30
I'll close this one for now. Please reopen if you think this issue is not resolved.

[2020-07-09 19:29] #30 closed

[2020-07-14 15:23] pratikthanki commented on #6
Hi - unsure if this is the right forum/way to get involved but does the documentation still need to be created? I am happy to have a look/get it started.

[2020-07-20 20:23] davidlamb commented on #3
I'm interested in cotributing to this project. Is this issue available to work on, or needs that I could get started on?

[2020-07-21 18:50] koenvo opened #33 "Transform orientation "BALL_OWNING_TEAM" should work on event data"
Event data does not have `ball_owning_team` set and therefore transform throw an exception when trying to transform to `BALL_OWNING_TEAM` orientation. Suspicion is this should work and `ball_owning_team` should be set to same value as `action_executing_team`

[2020-07-21 19:48] koenvo commented on #6
@pratikthanki sorry for the delay (holiday season ;-)). Would be great if you can be involved! I know @TK5-Tim would also like to be involved.

I think the docs setup of https://scikit-lego.readthedocs.io/en/latest/ is pretty good. If we can have something similar it would be great.

[2020-07-21 19:57] koaning commented on #6
I've used sphinx for scikit-lego because it fits the vibe but personally I've started enjoying mkdocs more and more. I like how you're able to manually push docs live and it's a lot less trouble setting it up. Now ... it's a totally different system so I wouldn't switch if you've already made the investment but I felt it worth a mention.

Do you want to automatically generate docs or manually? Not

[2020-07-21 20:24] koaning commented on #6
I suppose one thing to point out.

No matter what tool you'll end up using. Be sure that you split your documentation up into two clear parts.

1. Getting Started Guides
2. API description

A lot of docs forget about the 1st variant, which is really a shame. It's one thing to understand how a oven works, it's another thing to understand how to bake a cake.

Both sphinx and mkdocs offer jupyter-bas

[2020-07-22 07:32] TK5-Tim commented on #6
A Getting Started Guide really is essential. It helps a lot to break the barrier to make a tool useable for someone. I'm just now working with an Getting Started Guide with an Open Source tool for work. If done right it just puts you right in the spot to use the technology properly.

[2020-07-22 08:46] rjtavares commented on #33
Should depend on the action, no? Is a clearance enough to establish "ball owning"?

[2020-07-22 11:31] koaning commented on #6
i might also recommend an faq. getting started is for the common usecase
that explains why your package makes it easier to solve a problem. to
prevent that it gets convoluted with complex issues its probably best to
keep the conplex stuff for an faq.

On Wed 22. Jul 2020 at 09:32, Tim Keller <notifications@github.com> wrote:

--

*- Vincent*

[2020-07-23 20:25] koenvo commented on #17
Fixed in https://github.com/PySport/kloppy/pull/34

[2020-07-23 20:25] #17 closed

[2020-07-23 20:28] koenvo commented on #3
Hi @davidlamb it would be great when we have some more examples, that we can also use in the documentation. We can also have a chat at twitter (@ mr_le_fox) to discuss which issue is good to start with.

[2020-07-23 20:29] koenvo commented on #3
Related to the metadata issue: fixed in https://github.com/PySport/kloppy/pull/34

[2020-07-23 20:29] #3 closed

[2020-07-24 08:34] koenvo commented on #6
Thanks a lot @koaning !

Let's define the plan:
1. **Topics to start with:**
     a) Quickstart <- Main focus. Everyone starts with copying examples and tune it. Only when it really doesn't work they will read api docs, and probably start with the FAQ
     b) API Description
     c) FAQ
     bonus d) How to contribute
     bonus e) Contributors/Maintainers/Sponsors
     bonus f) "I'm a data provid

[2020-07-24 17:56] pratikthanki commented on #6
Hi @koenvo , have forked the repo and set something up. You can have a look [here](https://github.com/pratikthanki/kloppy/tree/master/docs).

You can go into the new `docs` dir and then run `mkdocs serve` to run locally.

Let me know your thoughts and I can continue. 😄

[2020-07-24 18:47] koenvo commented on #6
Hi @pratikthanki, thanks for your work there! I really like the structure you created.

We have done some overlapping work, sorry about that! I played a bit with `mkdocs` to get the deployment working. When something is pushed it will be deployed to https://kloppy.pysport.org/ automatically. I also added the `mkdocs-jupyter` package to be able to use notebook files instead of markdown files.

Woul

[2020-07-24 19:31] pratikthanki commented on #6
Nice thanks! Are you able to add me to the repo so I can push these change to the remote branch I've created (`PT/update-docs`). I can look through the helpers.py and make some OO API references 👌

[2020-07-24 19:52] koenvo commented on #6
I’m not sure what you mean with “add me to the repo”. I had the assumption you can already see the “new-docs-structure” branch. Hopefully you can merge that branch into yours and then I can check the change in your pull request. If I misunderstood something please let me know.

Looking forward to your work! Going to be a great contribution

[2020-07-24 20:08] pratikthanki commented on #6
Sorry, that's my bad! The upstream wasn't set so I couldn't see that branch in my fork. All good now, you can see the PR; https://github.com/PySport/kloppy/pull/35

[2020-07-25 10:33] koenvo commented on #33
Good point. Let me check the different types events and which team is assigned to them.

[2020-07-26 13:09] koenvo commented on #6
Thanks @pratikthanki it's merged. Let's create some new issues for further development on the docs. We have a cool base to continue on.

[2020-07-26 13:09] #6 closed

[2020-07-26 21:14] pratikthanki commented on #13
@koenvo Hey, this looks cool - if no one is working on this I can look to kick it off? 😄

[2020-07-26 22:02] bdagnino opened #36 "Add a provider type to dataset.metadata"
I think a good addition in the future would be to add a provider type to the metadata. That way you would know from which provider the data came, to check if you need to for example:

- handle it differently when for example transforming coordinates,
- syncing tracking and event data of different providers
- doing or not a certain step on your analysis if data comes from one provider or the other

[2020-07-27 04:55] koenvo commented on #36
Indeed a good first issue!

[2020-07-27 05:37] koenvo commented on #13
@ivd-git do you remember how we thought this should work for both the ‘datasets’ (which loads public available datasets) and your own datasets?

I think the Loader should be used in the helper functions and replace the current fetching code in https://github.com/PySport/kloppy/blob/master/kloppy/infra/datasets/core/loading.py#L40 . But especially for the first case we have to think about the cachi

[2020-07-28 12:18] FCrSTATS commented on #36
Is the provider of the event data stored already? if not, is there a natural place for this to be stored?

[2020-07-28 13:40] bdagnino commented on #36
@FCrSTATS each Dataset has a Metadata field. So for example if you have tracking from Tracab and events from Opta, you would have two datasets, one for tracking (dataset.metadata.provider = Tracab) and one for events (dataset.metadata.provider = Opta)

[2020-07-28 14:32] FCrSTATS commented on #36
thanks Bruno, where is dataset.metadata.provider assigned?

[2020-07-28 14:34] bdagnino commented on #36
It isn't yet, that's what this issue is about 😺

[2020-07-28 14:41] FCrSTATS commented on #36
"is" == "should" :)

seems sensible to add to kloppy\domain\common.py as you suggested but is there a natural point at which it would be used

[2020-07-28 17:41] bdagnino commented on #36
it might be the lack of caffeine, but I'm not sure I understand what you mean.

[2020-07-28 22:00] rjtavares commented on #33
How about letting users define possession (I.e. specify which events change change possession)? Could work well with the windows framework, and have a window of possession ID to treat sequences of events.

[2020-07-30 09:06] koenvo commented on #33
Interesting. I would add a default list of possession changing events and let users override it. And needs to some changes to be able to use possession ID for the windowing. This is a different ticket imo.

[2020-07-30 18:27] koenvo commented on #36
Fixed in https://github.com/PySport/kloppy/pull/38

[2020-07-30 18:27] #36 closed

[2020-07-30 21:03] rjtavares commented on #33
Yeah, I went over the windowing code and agree, that's not the solution.

So, each serializer would need to handle possession. SB has `possession_team` already, so that's taken care of. I could try to do it for Opta's serialzier, but I don't have a file to test it with. Is there any sample file I could use?

My idea is something like:

[code]

Then change `ball_owning_team=None` to `ball_owning_te

[2020-07-31 16:04] koenvo opened #42 "ADD option to convert all coordinates to same dimensions"
To make it easier for people to start going and don’t have to think about pitch dimensions we should add a global option to convert all coordinates to the same dimensions (meters for example).

Related twitter thread

https://mobile.twitter.com/lemonwatcher/status/1285854097233633281

[2020-07-31 18:48] rjtavares opened #43 "More non-generic events"
More common event types (like Tackles and Interceptions) should have their own types within kloppy. Should an issue be created for each type in order to discuss how to convert different providers to a common framework?

[2020-08-01 09:58] rjtavares commented on #33
@koenvo can you check this change to see if it makes sense?
https://github.com/rjtavares/kloppy/commit/5afec063bdfb7138e1e00dd0340ebef6ccf4898e

I chose to update the possession_team variable after checking for types to use kloppy's event_type instead of Opta's. That should make maintenance easier. I did have to keep setting ball_owning_team in the generic_event_kwargs otherwise there would an an

[2020-08-01 10:58] koenvo commented on #33
I like it. @bdagnino can you also have a look?
So idea is to set the ball_owning_team on some known events (pass,shot,Carry,takeon) and use that value for the other events after that

[2020-08-01 13:51] rjtavares commented on #33
BTW, the list of event_types relevant for possession should probably be moved to event.py in domain/models and imported so that it can be reused in other serializers.

[2020-08-02 19:06] bdagnino commented on #33
@rjtavares @koenvo I like the idea yes. I did something like this for  #44 with `_parse_ball_owning_team` but indeed would be better if there is a general implementation for all serializers.

[2020-08-03 02:35] bdagnino opened #45 "Adding a data type type to the datasets"
@koenvo I'm working with games in which I have a tracking dataset and an event dataset, and I'd like to have share methods, like for example `get_team_dataframe`  which should do different things depending on of the dataset is a tracking dataset or an event one.

I'd propose we add a type DataType and a data_type attribute to the Datasets:

[code]

If you agree with this, I can implement it.

[2020-08-03 02:37] bdagnino opened #46 "Read EPTS data provider from metadata.xml file"
@koenvo now you can set the provider of the EPTS data from `load_metadata`, however you can't do it from the load helper method `load_epts_tracking_data`. Wold be nice to have it there as well so you can use this helper without having to set it after the dataset is created.

I can implement this if you agree.

[2020-08-03 02:44] bdagnino commented on #45
Another option could be to include it inside `metadata`. I think since this is descriptive of the dataset it belongs to the dataset though, but don't have a high conviction on that.

[2020-08-03 02:50] bdagnino commented on #45
Closing issue as I realized I don't need this actually for now at least. Happy to do it still if relevant, but don't want to leave the issue open if not needed.

[2020-08-03 04:49] koenvo commented on #45
I reopen this because it’s a good first issue and like to have more of those.

Implementation should be similar to https://github.com/PySport/kloppy/blob/master/kloppy/domain/models/event.py#L82

[2020-08-03 04:55] koenvo commented on #46
Can we detect it from the file itself? Even an ugly way (like checking existence of certain values in the xml)

 When a user has to specify it I’m not sure I see the goal of it.

[2020-08-03 08:11] rjtavares commented on #33
@bdagnino your implementation doesn't make possession persist (you return None if the event type is not one of possession event types). I believe handling possession sequences and including non possession events in those sequences is important, but I do wonder if events are really sequential (if they aren't, assuming last event's possession team will introduce errors).

Regarding the list of posse

[2020-08-03 14:03] bdagnino commented on #45
Perfect! I'll remove myself from this issue then. But happy to help whomever ends up implementing it if needed.

[2020-08-03 14:05] bdagnino commented on #46
Yes, you are right. Moreover, there is actually an attribute  in the file for provider `<ProviderName>Example</ProviderName>` so we can use that to check for known providers. Do you want to leave this one also as a good first issue? I'm in no urgency for this yet.

[2020-08-03 14:07] bdagnino commented on #33
@koenvo not sure about what you mean by not making possession persist?

[2020-08-03 15:22] rjtavares commented on #33
Say there's three events:

1. Pass by Home Team
2. Challenge (Tackle) by Away Team
3. Pass by Home Team

Event 1 and 3 should have Home as `BALL_OWNING_TEAM`, that's obvious. But what about Event 2?

In your code `BALL_OWNING_TEAM` would call `_parse_ball_owning_team `, which would return `None`.
In my code for Opta's serializer `BALL_OWNING_TEAM` would be set to `Home` (because that's the `BALL_O

[2020-08-03 15:23] bdagnino opened #47 "Add length and width property to PitchDimensions"
Currently there is a PitchDiementions object as attribute in the Metadata of a Dataset. The PitchDimension class has attributes `[x,y]_dim`  and`[x,y]_per_meter` but there is no property to directly get the `length` or `width` of the field.

Would be good to have something like the below implemented so you an get directly get the dimensions of the field in meter without having to do extra calculat

[2020-08-03 15:33] bdagnino commented on #33
@rjtavares I see. That was on purpose. Since in Metrica event data challenges and cards don't change possessions and could be for either team I thought best to not indicate team possession. Then if you want to look at team possession you can look at all the events that DO have a possession and work with that.

In your particular example I think it would be the same thought, to assume possession fo

[2020-08-03 15:52] rjtavares commented on #33
I was influenced by Statsbomb's data, which has an explicit `possession_team` for events that seems to behave like what I used.

You're right. Each serializer should take advantage of whatever info each provider has (while trying to be overall as much consistent as possible).

[2020-08-03 16:24] koenvo commented on #33
I think it would be good to:
1. Make it work independent of the serializer. IMO its an enrichment step like adding the current score, and current lineup
2. When possession changes is part of the definition of soccer. I don’t know if people (coaches etc) would normally say the possession changes in case of a card. Could be an argument to the enricher
3. Filtering events should be moved outside of t

[2020-08-03 18:52] TK5-Tim commented on #46
@bdagnino So basically `load_epts_tracking_data` should work similar to `load_meta_data`?

[2020-08-03 22:24] bdagnino commented on #46
@TK5-Tim not exactly. That's what I originally proposed, but @koenvo suggested a better approach. His proposal is to read the provider from the ETPS metadata file itself when loading the metadata. For that the following background is important:

1. If you look [here](https://github.com/PySport/kloppy/blob/1c9a62948a43313130be52bc5874f573d20b5d8b/kloppy/domain/models/common.py#L24) you'll see there

[2020-08-03 22:43] bdagnino commented on #33
This one is really tricky, and probably one of the most difficult thing that Kloppy should try to solve as good as possible, meaning standardization of events between providers. In my personal case the biggest roadblock is that I'm not super familiar with other events definitions other than Metrica's, so it's hard to judge. So can't really provide a concrete answer, but before commenting further,

[2020-08-04 06:06] TK5-Tim commented on #46
@bdagnino Thank you very much, now I get the task. Do you prefer still having the argument but having it changed by the file if found in the file or should I take out the argument?

If the provider is not in the XML it would helpful to be able to put it down manually. Otherwise I do not even know if there is any reason not to have the providers name in the XML.

[2020-08-04 08:23] koenvo commented on #33
Hmm yes we might have lost sight on the origin of this ticket. I stumbled upon this issue by accident (copy & pasted transform code and forgot to remove the ball owning part).

With new insights I would keep this ticket for reference and use values that provider specifies, like statsbomb. When a provider does not specify this we will not fill "ball_owning_team" on events. Then open a new ticket fo

[2020-08-04 10:21] rjtavares commented on #33
Can I have a go at this one? Something like a PossessionGainedEvent that changes state.possession_team

[2020-08-04 10:47] koenvo commented on #33
I rather have a `POSSESSION_GAINING_EVENTS = (.... , ... )` and check `if event.event_type in POSSESSION_GAINING_EVENTS`. And please yes :-)

[2020-08-04 10:53] rjtavares commented on #33
Do you have a suggestion for what the State class property name should be?

[2020-08-04 11:25] koenvo opened #48 "Enrich events with state"
When filtering or creating windows of events it's useful to have additional state added to the events. This state can contain current score, lineup and other stuff like possession_id.

I think we need something like this. With `state` added to `Event`.

[code]

[2020-08-04 11:25] koenvo commented on #33
Let's discuss this in more detail here: https://github.com/PySport/kloppy/issues/48

[2020-08-04 12:11] bdagnino commented on #46
@TK5-Tim great!

Yes, we should leave the option to provide is an an input as well to `load_matadata`. If there is one provided but a different one in the metadata.xml we should probably raise a warning.

[2020-08-04 13:11] rjtavares commented on #48
@koenvo can you check my code to add possession_team to State based on the add_window branch: https://github.com/rjtavares/kloppy/commit/12e9d3fa67a16a19557363fa0240d6f99958bb58

I haven't tested it yet, it's just to validate the approach and naming.

[2020-08-04 13:45] bdagnino commented on #48
@koenvo @rjtavares On important think to keep in mind is that events that loose possession are important as well. there can be quite some dead time between the end of a possession and the start of another one, so it'd could be also important to check fo events that end a possession.

For example for Metrica events the events that start and end a possession are:
[code]

On a related topic: I'm awar

[2020-08-04 13:57] koenvo commented on #48
Totally agree. Provider specific stuff should not leak out of the serializers. When I said otherwise it's my mistake.

possession_team should be part of the serializer, possession_id should be part of the enrichment process. Agree?

[2020-08-04 14:01] bdagnino commented on #48
100%!

[2020-08-04 14:11] rjtavares commented on #48
So it's best to focus first on adding possession_team to the serializers, then take care of State after that. I can make the pull request for Opta's serializer.

[2020-08-04 15:35] eujern commented on #45
May I take a stab at this one?

[2020-08-05 13:42] bdagnino commented on #45
@eujern yes! Let me know if you need any help or guidance.

[2020-08-05 15:24] eujern commented on #45
Actually, have a question while working on this.  `Dataset` is an abstract class, and we have `EventDataset` and `TrackingDataset` implement it.  Why is it still necessary to have an explicit `data_type` field?  For the `get_team_dataframe` example above, wouldn't you just add an abstract method to `Dataset`, and then implement them separately in `EventDataset` and `TrackingDataset` for event and

[2020-08-05 15:31] eujern commented on #45
Or if the method should not be a part of `Dataset`, couldn't you just an `isinstance(dataset, EventDataset)` check in the method?

[2020-08-05 16:14] koenvo commented on #45
I prefer this one. In a previous comment I referred to the event implementation which is similar.

[2020-08-05 16:30] eujern commented on #45
@koenvo to clarify, you prefer adding a `data_type` field to `Dataset`, the same way `event_type` is implemented in `Event`?

[2020-08-05 16:41] koenvo commented on #45
Yes indeed

[2020-08-05 17:41] bdagnino commented on #45
1. The `get_team_dataframe` I referred to was on another repo that is using kloppy, not on kloppy itself.
2. My 2cts on this topic: while using `isinstance` would work, in my view having a datas_type is cleaner than having to check the instance. It's visible when you look at the object / more straightforward to use.

[2020-08-06 19:27] eujern commented on #45
Thanks for clarifying!

[2020-08-07 16:10] koenvo commented on #45
Thanks @eujern !

[2020-08-07 16:10] #45 closed

[2020-08-09 15:15] pratikthanki commented on #13
@koenvo based on my understanding of what you've said; could this be something that works with a throw-away Docker container running Influx/Redis or similar?

It can serve as the mechanism to read data and write any analysis/transformations.

[2020-08-12 08:59] koenvo commented on #48
Some more info: https://www.optasports.com/news/advanced-metrics-sequences-framework/

[2020-08-14 14:04] koenvo opened #53 "Be able to extend / pass your own Event/Frame class"
Providing the classes for Events / Frames opens the possibility to add additional:
1. functionality to events / frames
2. attributes to events

Especially 2) is very useful. Providers add very useful information that are not common shared. With just a single implementation of an `Event` we have to throw away this information.

When we are able to extend the `Event` class, we can pass a provider sp

[2020-08-14 17:03] koenvo commented on #13
@pratikthanki I would like to not introduce dependencies on docker containers. The implementation should be python.

The idea is that we add protocol handlers to be able to load data over plain http / s3 / gcp storage / etc by just adding a protocol to the filename. Instead of passing a local filename like "/home/koen/tracab.dat" I pass "s3://bucket-name/tracab.dat" and kloppy will load it from s3

[2020-08-19 12:47] koenvo commented on #46
Fixed in https://github.com/PySport/kloppy/pull/52

[2020-08-19 12:47] #46 closed

[2020-08-19 13:24] FCrSTATS opened #54 "Add parsing functions for OPTA f1 and f40 files"
current we don't have functions for parsing f1 and f40 xml flies.

ideally, this allows a simple version to pandas :) as well as an dataclass version

[2020-09-01 13:06] bdagnino opened #57 "to_pandas fails for Opta data when trying to read player_id"
Some event types, like `formation change` do not have a `player_id` attribute. `to_pandas` should check that and return `None` for `player_id` if not is available in the event.

![Skrmbillede_2020-09-01_kl _12 29 01](https://user-images.githubusercontent.com/5121185/91854785-a17fff80-ec3a-11ea-90b8-9d2d4b698606.png)

[2020-09-01 13:32] koenvo commented on #57
Fixed in https://github.com/PySport/kloppy/pull/58

[2020-09-01 13:32] #57 closed

[2020-09-04 12:20] koenvo commented on #54
What are f1 and f40 files? And why didn't I get a notification of this issue, GITHUB?

[2020-09-09 07:11] koenvo commented on #48
Fixed in https://github.com/PySport/kloppy/pull/55

[2020-09-09 07:11] #48 closed

[2020-09-18 07:21] FCrSTATS opened #60 "Remove 'deleted events' from OPTA f24 data"
I would propose that as default load_opta_event_data() would remove 'deleted events' from the dataset with the option to override.

Deleted events would be looked at in extremely rare circumstances but could cause some issues with analysis

[2020-09-18 07:54] FCrSTATS commented on #54
details of competitions, players, results without events

[2020-09-18 18:45] bdagnino commented on #43
@rjtavares I discussed this issue with @koenvo and we will start working on adding new "kloppy standard" events. The trigger for this was to allow for a better definition of sequences (consecutive actions on which a team is in control of the ball).

Currently I'm thinking of adding:

- GOAL KICK, KICK OFF, FREE KICK, THROW IN, PENALTY, CORNER KICK
- BALL OUT
- RECOVERY
- FOUL

On some providers, s

[2020-09-19 08:10] rjtavares commented on #43
What's the difference between Recovery and Interception? Is it the same concept?

The only somewhat standard events missing from that list are: Tackles, Take-ons/Dribbles, Aerial Duels.

[2020-09-21 13:03] bdagnino commented on #43
@rjtavares a _recovery_ could be an _interception_, but could also be other things as well, for example it could be a ball stolen from the feet of other player. The idea for this _recovery_ is to be able to define the start of sequences that did not start from a pass, for example a recovery followed by a carry.

I'll have a look at the other events you mentioned as well and see which ones can be e

[2020-09-21 18:19] bdagnino commented on #43
I'm compiling some information about different event types [here](https://docs.google.com/spreadsheets/d/1zomK8r8CKqxHSK8BY9A25BCWie-J-NU4tT07hBC5UB0/edit?usp=sharing).

[2020-09-24 04:46] FCrSTATS opened #61 "Adding a way of matching the event with a moment in time within the tracking data"
There is a need to match the time of an event with the time within the tracking data, I am trying to implement a way this can be done accurately to remove the error syncing the datasets (opta,tracab). The first step to this is to add a very clumsy sync via the use of timestamps before things are refined.

I would propose two attributes are added to the event object structure, clumsy_sync and preci

[2020-09-24 04:54] koenvo commented on #61
This is a great use case of https://github.com/PySport/kloppy/issues/53 . This way you would be able to specify your own event class which has those fields

[2020-09-25 06:51] FCrSTATS opened #62 "add a function to calculate the distance to a position within the Point class"
there is a need to calculate distances between a player and a position (other players, the ball, an area, etc)

I think it would be beneficial to have a function within the Point class that returns a distance

something like

def distance_to(self, another_point):
       distance = ....some calc....
       return distance

what are peoples thoughts of this function being located within the Point cl

[2020-09-25 08:34] koenvo commented on #62
Yes! Please create a PR for this

[2020-09-25 08:39] koenvo commented on #61
I would consider adding this to the core of kloppy. The sync between an event and a frame where it's happening is very useful. To make this happen a "reference_frame" (type: Frame) attribute should be added to an Event

What do you think @bdagnino ?

[2020-09-26 06:01] #62 closed

[2020-09-26 06:03] koenvo commented on #62
Thanks @FCrSTATS !

Fixed in https://github.com/PySport/kloppy/pull/63

[2020-09-28 07:45] schmidtfx opened #65 "Transforming Tracking Data not working"
Hi,
I have kloppy==1.2.1 and I'm running into an issue transforming metrica tracking data.

`
from kloppy import datasets, helpers
dataset = datasets.load("metrica_tracking", options={})
dataset = dataset.transform(dataset, to_pitch_dimensions=[[0, 105], [-34, 34]])
`

This gives me the following error message:
`
AttributeError: 'TrackingDataset' object has no attribute 'get_orientation_factor'
`

[2020-09-28 11:42] schmidtfx opened #66 "Enable Kloppy to handle GPS tracking data"
GPS tracking data is an important data source. Kloppy should be able to handle and distinguish GPS tracking data.

[2020-09-28 20:47] koenvo commented on #65
kloppy should raise an exception to make it clear you are passing too many arguments.

[code]

you should not pass the dataset itself to the transform method.

[2020-09-29 14:46] bdagnino commented on #61
Yes, sounds great and good approach. Would kloppy also provide methods better synchronize the data like proposed [here](https://www.kwiatkowski.io/sync.soccer) or at this stage it would be only to be able to reference between tracking and event data whatever timestamps are already in the data?

[2020-09-29 14:51] koenvo commented on #61
Great! The idea is to implement something like @huffyhenry did. But I'm not totally sure what approach @FCrSTATS had in mind right now. Maybe you can elaborate a bit, @FCrSTATS ?

[2020-10-08 18:11] TK5-Tim opened #67 "Include Skillcorner into Kloppy"
Today Friends of Tracking and Skillcorner announced a [new open Dataset](https://github.com/SkillCorner/opendata) for Tracking Data. I just saw that [Tweet](https://twitter.com/numberstorm/status/1314238391609896960?s=20) about another different Format and immediately thought about Kloppy!

So what would be needed to include Skillcorner into Kloppy?

I am not that familiar yet with what everything

[2020-10-09 13:28] koenvo commented on #67
Cool! Would be great to have it added the kloppy.

Maybe @hugobordigoni can help a bit here?

[2020-10-09 14:21] hugobordigoni commented on #67
Great initiative 👍
I'm not familiar with kloppy codebase. Not sure we'll have time to dive into it to create SkillCornerTrackingSerializer in the short term. Happy to help anyway if I can.

[2020-10-10 09:31] hugobordigoni commented on #67
I feel like the main challenge here would be handling the tracking data with no player identification. Our data contains players with no identification, just a team identifier. Depending on what you want to do with the data, it's really important to keep it.

[2020-10-14 07:33] TK5-Tim commented on #67
Would it be a good start to look what we can use from the Metrica Serializer and from there handle all the differences?

[2020-10-14 09:27] koenvo commented on #67
The files seem pretty different. Output should be a TrackingDataset. Additional info https://twitter.com/thesignigame/status/1315996651178385409

Most difficult part is the player with only team identification. @hugobordigoni does it have an unique id to track the player over multiple frames? Could we use that one as a player identifier?

[2020-10-14 10:57] hugobordigoni commented on #67
Indeed, when the player identity (trackable_object) is missing, we have a track_id. We could use that. There can be some conflict between track_id and trackable_object having the same value but seems doable.

[2020-10-17 09:59] rjtavares opened #68 "Allow to_pandas to return player_id as column on tracking datasets"
On tracking datasets, `to_pandas `returns a DataFrame with a row per frame. To make further transformations it may be easier to work with a DataFrame with one row per frame per player.

So `to_pandas` could allow a `player_as_index` option that produces this transformation.

This code worked on a metrica dataset:

[code]

If you're ok with it I can test it further and submit a pull request.

[2020-10-20 18:15] bdagnino commented on #43
@koenvo as discussed, I'll work on adding:

_Related to start and end of sequences_
RECOVERY
BALL_OUT
FOUL_COMMITTED

_Events that involve a pass_
GOAL_KICK
FREE_KICK
THROW_IN
CORNER_KICK
PENALTY
KICK_OFF

_Implementation_
Each one of the above will be a new EventType. For the ones that represent a pass, I suggest giving an EventType as input to the creation of the instance, with a default to Even

[2020-10-22 11:15] FCrSTATS opened #69 "'id' being used as 'event_id' instead of 'event_id' in f24 parsing"
When we parse opta f24 data we use 'id' and allocate it to 'event_id' in our event class. But we then seem to discard 'event_id' from the f24. seems there is a need to keep the original event_id as well?

see here [line](https://github.com/PySport/kloppy/blob/17ccd751c42bcf5656ab6fd50f6423816d10260b/kloppy/infra/serializers/event/opta/serializer.py#L365)

[2020-10-22 11:42] koenvo commented on #69
You should be able to fetch that from the `event.raw_event` like this: `event.raw_event.attrib['event_id']`

For reference purposes: how can I get the qualifiers from an Opta feed?
`qualifiers = {q.attrib['qualifier_id']: q.attrib.get('value') for q in event.raw_event.findall('Q')}`

[2020-10-22 13:15] koenvo commented on #67
@TK5-Tim are you still interested in picking this up (together we me .. or @hugobordigoni ? :-))

[2020-10-22 13:17] TK5-Tim commented on #67
@koenvo Yes for sure. I had a lot to do over the last week but should be better now :) But I would need some help for sure!

[2020-10-22 13:48] koenvo commented on #68
That's a great additional.

Maybe `_record_converter` should always return a list of rows and `to_pandas` does a flatMap.

I'm not sure how the performance difference is between:
1. Do the transformation in kloppy (flatMap)
2. Do the transformation in pandas (like you did above)

Do you think people should also be able to specify which columns are index and which are not?

[2020-10-22 14:02] koenvo commented on #65
Closing this for now

[2020-10-22 14:02] #65 closed

[2020-10-22 14:03] koenvo commented on #60
Can you provide an example of deleted events?

[2020-10-22 14:47] bdagnino commented on #43
@koenvo I implemented the approach we discussed on PR #70. However I ran into a conflict with this approach regarding free kicks. We discussed following the approach of whenever there was a set piece, replace the event PASS or SHOT by the SET PIECE TYPE. This works well for almost all event types but for FREE KICKS.

A FREE KICK can be followed by a PASS, or a SHOT. If we replace PASS and SHOT by

[2020-10-22 18:41] rjtavares commented on #68
All the transformations I'm making are vectorized, I think they should be faster than changing the record converter (which would be a loop inside a loop).

Regarding the index, maybe it's better to reset the index before returning the DataFrame. Then you can set whatever you want as index.

[2020-10-23 17:04] bdagnino commented on #43
@koenvo I gave this some thought but are not sure there is a way to solve this in the current approach we are taking. Even if we solve this particular conflict we would be very limited in the amount of subtypes or qualifiers we can encode for. For example, crosses, or cutbacks, or type of challenges, or whether a shot was a header or a shot with the foo etc.

I suggest we consider another approach

[2020-10-24 07:20] koenvo commented on #43
On the Event side I tend to qualifier (or attributes / properties). And make sure the Event.qualifiers can hold more types of info like foot. Then we can add a method on the event the easy retrieve the value of a certain type of qualifier.

event.get_qualifier(Foot) == Foot.Left

And I think we should split out all the pandas related code to a separate file to allow expanding the to_pandas part an

[2020-11-04 20:10] koenvo commented on #66
Hi @schmidtfx, do you have some example files? Would be cool to include this in kloppy

[2020-11-04 20:12] koenvo commented on #68
@bdagnino you also made changes to the to_pandas part, right? I would like to change helpers into a module, and create a pandas.py for all to_pandas related code.

[2020-11-05 03:19] bdagnino commented on #68
@koenvo yes, to add the qualifiers as columns in the resulting dataframe. May be better to wait for #70 to be merged and then move all together then?

[2020-11-06 10:40] #43 closed

[2020-11-09 18:36] bdagnino opened #72 "Improve sequence definition"
As discussed, I propose we improve the definition of sequences. Currently to start a new sequence, only the team of an event is checked:

[code]

The problem with this definition is that you can have events that don't define a sequence define one. Plus, a sequence only ends with an event from another team, while for example the ball could be out, or it could be a goal, or it could be that a foul w

[2020-11-17 07:41] #72 closed

[2020-11-17 15:56] BenjaminLarrousse commented on #47
Is there a place where I can find data spec for providers?
I imagine _x_per_meter_ and _y_per_meter_ are not always provided. If not, we can always catch the exception and set _length_ and _width_ to None

[2020-11-19 12:45] koenvo commented on #47
I think you should not take the data provided into account. Your suggestion to try to return it and when it fails return None sounds very good.
Also take into account that you need `Dimension.mix` in case the min value is other than 0

[2020-11-19 14:47] BenjaminLarrousse commented on #47
Sure, should be `self.x_dim.max - self.x_dim.min`

Is there a test file I should put a test for these properties? (I'm still getting used to the package)

[2020-11-25 21:20] koenvo commented on #47
Create a new test file please which will contain tests for metadata. test_metadata.py should work

[2020-11-25 22:44] bdagnino commented on #42
@koenvo what is the best option to adopt as the default one in your opinion?

I like the TRACAB one because units are in meters, but on the other hand it's difficult to know for example when a player is in the last third. On the other hand a system like Metrica's one, or Statsbomb, have a fix size for which knowing positions in the field is easy but if you want to compute speed and distances you h

[2020-12-03 13:08] koenvo commented on #42
Two approaches:
1. Use meters
2. Use 100x100

Option 1 is easier to calculate real distances and angles
Option 2 is easier to calculate / compare distance to goal / etc. You can use `if 40 < point.y <  60:'. Easier to run queries over multiple datasets because you don't need metadata (of where box is)

Option 1: when you want distance to goal / "is in box"  you need coordinates of box (in meters)

[2020-12-08 15:53] bdagnino commented on #42
@koenvo great, as discussed off line, we will go with [0, 1] coordinate system. Favoring _ease over precision_, and with [0, 1] rather than [0, 100] so that it can't lead users to believe they are in meters.

*About the specific implementation*
There are two ways (that I can see) in which we can do it.
1. One way would be to do it on each frame at the moment the data is loaded (inside each seriali

[2020-12-08 20:07] koenvo commented on #42
[draft version]

I think it’s related to https://github.com/PySport/kloppy/issues/10

Like you want to define a pipeline (only mapping and no filtering in case of this issue) that can be applied during loading and afterwards. Afterwards would require a ‘transform_dataset’ that runs all record through the pipeline. Especially for tracking data it saves quite some time to do it during loading (have

[2020-12-09 21:16] schmidtfx commented on #66
@koenvo I can provide some, but it is very dependent on the GPS tracking provider. First, we would need to see how a single team Lat/Lng (X/Y) tracking would fit the existing structures.

[2020-12-09 21:17] schmidtfx commented on #22
Any status on this one?

[2020-12-09 21:17] schmidtfx opened #78 "Guidance on API integration"
Hi,

is there any guidance how to use Kloppy with an actual API instead of the files, e.g., Wyscout API?

Thanks

[2020-12-15 09:49] koenvo commented on #22
Not yet. If you have documentation on the format we can have a look at it. So far no people asked for it nor did we have docs on the format

[2020-12-20 13:10] schmidtfx commented on #22
I have started to WyScout integration: https://github.com/PySport/kloppy/pull/79
This is very early stage code and not yet complete.

[2020-12-20 22:15] schmidtfx commented on #22
@koenvo can you link this issue with the pull request #79 ?

[2020-12-21 08:08] #69 closed

[2020-12-22 14:52] koenvo commented on #47
Thank you @BenjaminLarrousse !

[2020-12-22 14:52] #47 closed

[2020-12-22 14:55] BenjaminLarrousse commented on #47
You're welcome. I'll get on another issue soon. This one was to for me to start understanding the code, I can do more complicated things now.

[2020-12-23 06:20] #22 closed

[2020-12-23 16:48] koenvo opened #82 "Implement BodyPart qualifier for Statsbomb"

[2021-01-14 17:52] BenjaminLarrousse commented on #82
BodyPart qualifier exists for Goalkeeper, pass and shot.

We could add it inside _parse_pass() for pass and _parse_shot() for shots (inside the Statsbomb's serializer). A bit like "outcome" is created.

The goalkeeper part is not taken care of, I think ?

[2021-01-14 18:03] MKlaasman opened #84 "Issue: Sportec 2019 events data serializer"
While using events data for the 2019-2020 Bundesliga Season. I ran into an error while loading in the Sportec data. This problem does not occur for 2020-2021 season's data.

Example code:
[code]

Error message:

[code]

[2021-01-14 18:04] MKlaasman opened #85 "Error: loading Sportec 2019-2020 events data"
While using events data for the 2019-2020 Bundesliga Season. I ran into an error while loading in the Sportec data. This problem does not occur for 2020-2021 season's data.

Example code:
[code]

Error message:

[code]

[2021-01-14 18:25] koenvo commented on #84
You might have closed this by accident.

solution to this issue could be:
1. Check if teamleft attribute is set
2. If not, extract direction of play from first pass? First pass is always on own half, right?

[2021-01-18 21:57] schmidtfx commented on #84
Anyone working on a fix?

[2021-01-18 21:58] schmidtfx commented on #85
This is a duplicate of #84

[2021-01-19 05:35] #85 closed

[2021-01-19 05:36] koenvo commented on #84
I didn’t start yet. And afaik no one else started

[2021-01-19 13:49] koenvo commented on #82
@BenjaminLarrousse the goalkeeper is not implemented at all indeed. I would prefer to have BodyPart implemented for each provider first, and then add the GoalKeeper event(s).

Would you like to implement this for Statsbomb?

[2021-01-19 17:13] BenjaminLarrousse commented on #82
Yes I do!

The way I see things:

- in models/event.py, add all possible body part values in the BodyPart class (I can add values for pass, shot, goalkeeper even if we don't use goalkeeper values for now)
- in the Statsbomb's serializer, in _parse_pass and _parse_shot, set a _body_part_ value based on the id inside the source file. For example, `body_part = BodyPart.LEFT_FOOT` if  `pass_dict["body

[2021-01-19 20:20] schmidtfx commented on #84
The problem with the 2. is that there is no guarantee that the first pass is into the own half. Remember the old way of kickoffs? The first pass used to be into the opponents half. Alternatively, one could get all passes in the first half of the home team goalkeeper, calculate the mean and see in which half of the pitch they fall into.

[2021-01-20 08:16] koenvo commented on #84
That sounds like a great solution @schmidtfx . Similar to https://github.com/PySport/kloppy/blob/master/kloppy/domain/services/__init__.py#L16

[2021-01-20 08:18] koenvo commented on #82
That sounds like a great plan @BenjaminLarrousse, and I think you mentioned all important parts 👍

[2021-01-20 18:13] BenjaminLarrousse commented on #82
@koenvo  I created a pull request. I think it's good.

Look at it when you have the time and let me know. Thanks

[2021-01-26 15:07] koenvo commented on #82
Fixed in https://github.com/PySport/kloppy/pull/86

[2021-01-26 15:07] #82 closed

[2021-03-13 17:21] znstrider commented on #67
@koenvo @TK5-Tim
I spent some time on this now and achieved building a TrackingDataset from the raw data.

As there are **a lot** of unidentified players with different track_id's it returns a (56754, 2226) DataFrame from to_pandas() for one of the sample games. For now I called the unidentified players '{team.ground}_anon_{track_id}'.

I haven't yet propely built the class and have not dealt with

[2021-03-16 14:49] znstrider commented on #67
I uploaded the SkillCornerTrackingSerializer in skillcorner.py, also adding a load_skillcorner_tracking_data on my fork:
https://github.com/znstrider/kloppy/tree/skillcornertrackingserializer

It works on all samples but there are quite a few issues that need adressing though:

#### 1)
sample_rate and limit still have to be implemented and attacking_direction_from_frame needs to be checked.

####

[2021-03-16 16:49] koenvo commented on #67
This is great! Let me have a look at it later this week.

[2021-03-22 11:24] hugobordigoni commented on #67
@znstrider you're right. You have some pregame data at frame 1150, the period and time are null for these frames. Then the match starts at frame 1411. So the period and time are not null but there is no data because the broadcast is not with camera 1. Then at frame 1523 (11s after the start of the match) the broadcast uses camera 1.

I don't think it's an issue to drop all the pregame data if it d

[2021-03-24 16:31] znstrider commented on #67
Thanks, @hugobordigoni.
That makes a lot of sense and I checked it again with the game footage.

I now leave out pregame data, but do include all frames that have a period specified, including those at the beginning that lack player positions due to a "wrong" camera perspective being used.

[2021-03-31 08:26] koenvo opened #91 "Include z-coordinate for ball"
Some tracking data providers include a z-coordinate for the ball. It's useful to load this data.

Steps:
1) Check all tracking data serializers and see which include the z-coordinate
2) Add a Point3D that inherits from Point and include a z attribute
3) Update serializers from 1 to include z coordiate
4) Add tests to make sure it works
5) Update the docs

Note: when you prefer TDD you can swap 3 a

[2021-03-31 08:37] koenvo commented on #67
I created a pull request to make it easier for me to review all the code: https://github.com/PySport/kloppy/pull/90/files
----

@znstrider, thanks for your contribution! Really cool to see how far you already got, and I believe we are near a version that can be merged. I tried to answer all your questions. If I missed something please let me know.

1) Comment about sample_rate is in the PullReques

[2021-04-06 17:32] bdagnino opened #92 "Serializer for sportscode like XML"
Some clubs get data from instat or wyscout which comes in form of "codes" XML format. This format is the "sportscode xml" format, meaning is how sportscode export the coding of a game in XML format. Is not very structured data, nothing like event type data, but more like coding of phases of the game. Build up by this team x seconds to y seconds, counter by the opponent form x seconds to y seconds,

[2021-04-08 14:40] koenvo commented on #60
@FCrSTATS do you have a file with this deleted events in it?

[2021-04-24 15:51] znstrider commented on #67
Similar to the option "only_alive" in the TRACABSerializer I could specify an option "include_empty_frames" with the default being False to the deserialize function.
That would make it super simple to (not) include those frames. What do you think @koenvo?

[2021-05-02 12:49] znstrider commented on #67
Thanks again for your comments @koenvo!
Especially the points on the testing made it much less daunting than it seemed.

Regarding 2)
I left out the ball_owning_player (ball_carrier) for now as that would've required to add ball_carrier to DataRecord and might require to add ball_carrier = None to all other serializers?

4) I added an option include_empty_frames = False to the deserialize function

[2021-05-18 13:11] koenvo commented on #91
Fixed in https://github.com/PySport/kloppy/pull/93

@cedrickrause thank you!

[2021-05-18 13:11] #91 closed

[2021-05-25 11:06] cedrickrause opened #97 "Include all Qualifiers in Metrica Event Serializer"
Right now the metrica event json serializer only adds SetPieceQualifier to the kloppy event. BodyPartQualifier and PassQualifier are not included.

For the BodyPartQualifier the way I see it, the data only includes the subtype "HEADER" if it is a header, but no information about which foot was used for example.

PassQualifiers that are used can be found in the [documentation of metrica events](htt

[2021-05-27 20:28] #92 closed

[2021-05-29 05:21] cedrickrause commented on #97
Is there any further explanation on the [kloppy pass types](https://kloppy.pysport.org/api/domain/event/#kloppy.domain.models.event.PassType)?

The types are not the same as providers', so I am not sure how I would map them.

[2021-06-05 07:10] cedrickrause commented on #97
The body part is only given for shots in sportec event data, not for passes. I think it still makes sense to integrate it for the shots.

[2021-07-03 10:38] cedrickrause commented on #97
Just to clarify the state of this, since part of it was already merged.

The Pass Qualifiers are not yet included for the providers mentioned in the original post. BodyPart qualifiers are done.
Not sure when/if I will do it, but it shouldn't be hard after knowing the mapping between kloppy pass types and the pass types of the providers.

[2021-08-05 13:30] #67 closed

[2021-08-11 12:10] #42 closed

[2021-08-12 08:55] koenvo commented on #97
I've updated the title of the issue. Thanks for adding the BodyPart qualifiers!

[2021-08-12 18:00] koenvo commented on #97
**Implementation tips for the PassType**

1. Parse the input file and create a list of qualifiers for each event. A pass qualifier is defined like this: `PassQualifier(PassType.CROSS)`. Both can be imported from `kloppy.domain`: `from kloppy.domain import PassQualifier, PassType`. `PassType` is an enum define here https://github.com/PySport/kloppy/blob/8ad513532518b97fc0cea90300f668b38c78d5b5/klop

[2021-08-13 14:53] koenvo opened #103 "Second Spectrum serializer"
Implement the second spectrum tracking data serializer

[2021-08-13 15:00] ProformAnalytics commented on #103
I'd like to take a shot at implementing this

[2021-08-13 15:07] koenvo commented on #103
Go for it 💪

[2021-08-31 13:07] matiasb opened #105 "Datafactory event deserializer"
[Datafactory](https://www.datafactory.la/en/) produces matches event data in a particular json format. It would be nice to have parsing support for this provider.

[2021-08-31 17:38] matiasb commented on #105
FTR, I have some work in progress for this, I should have an initial PR soon(ish).

[2021-09-03 13:10] ProformAnalytics opened #107 "Period equality in tests"
The `__eq__` method for `Period` is currently implemented as a check of equality of the `id` attributes. This makes sense as it makes it easy to compare between games, e.g. asking do these events from different games both happen in the first half?

However, this also potentially introduces errors in the tests where we want to check that a `Period` is identical to what is expected. For example, in

[2021-09-27 12:35] koenvo commented on #107
Sorry for my absence for a while. I believe `Period` shouldn't be identical over multiple matches. Current behaviour may result in mistakes when periods from different matches are mixed.

I'm not totally sure current code relies on `id` attribute only equality check.

@bdagnino do you agree on changing the behaviour?

[2021-10-10 07:23] koenvo opened #112 "Code review feedback"
@willmcgugan did a code review. This is his feedback:

# Kloppy

- URL: https://github.com/PySport/kloppy
- Date Reviewed: Sep 3 2021

## General observations

- Names like utils.py and helpers.py are best avoided. Best to come up with descriptive names, even if that means separating them in to smaller files.
- Typing throughout which is great. Consider enabling strict mode in Mypy to catch missin

[2021-10-10 11:14] koenvo opened #113 "Issue transforming Opta data"
Bug report by @MKlaasman

Notebook to reproduce the bug: https://github.com/MKlaasman/error-kloppy/blob/main/error%20Kloppy%202.1.0.ipynb

[2021-10-15 18:22] #103 closed, assigned to ProformAnalytics

[2021-10-31 13:05] koenvo commented on #113
Fixed in https://github.com/PySport/kloppy/commit/39942df6dbc482d2eab237e35cc967effc9451ca

[2021-10-31 13:05] #113 closed

[2021-11-10 21:35] koenvo opened #116 "Remove numpy dependency from SecondSpectrum"
SecondSpectrum uses numpy for some operations. This makes kloppy depend on numpy. This is unwanted. These operations should be replaced by their python-only counterparts.

[2021-11-15 12:55] koenvo opened #117 "Restructure documentation"
Current documentation located at https://kloppy.pysport.org contains same-like content at different places, and also problems are solved in different ways. The documentation should be super easy.

Structure should be:

- Home _(very short intro like https://github.com/PySport/kloppy/blob/master/README.md#what-is-it)_
- Getting-started _(Notebook files containing best practices for loading data for

[2021-11-17 16:56] bdagnino commented on #117
@koenvo Looks good to me!

[2021-11-19 10:09] agoose77 commented on #112
Thanks for sharing this!

One small note that I think worth adding - upper bounds on version constraints is not necessarily a good practice in Python_libraries_. Bernat Gabor gives a good write-up [on his blog](https://bernat.tech/posts/version-numbers/), but I can summarise here:

- Upper bounds are contracts upon the API guaranteed by the API author (not user)
- Frequently this is a semver versi

[2021-12-21 08:35] ThomasSeidl opened #121 "to_pandas doesn't create column for qualifier type when it's not present in data, e.g. no card events"
Currently, calling to_pandas(event_data) will only create columns for qualifiers which are present in the game, e.g. if there are no events with event_type == "CARD" (for Opta serialiser), there won't be a column "card_type". Same for pass_types that might not occur within a game.

There should be an extensive list of all columns which should be created when converting to_pandas to ensure that for

[2021-12-21 12:31] #117 closed

[2021-12-21 12:41] #112 closed

[2021-12-21 12:42] koenvo commented on #112
I forgot to respond, but thanks for this information! Let me reconsider what would be the best way of solving this for kloppy.

[2021-12-21 12:46] koenvo opened #122 "Add freeze frame to event data"
Include the `freeze_frame` of Statsbomb 360 data.

This opens up the ability to use tracking data to add a freeze frame to event data. This does not include changes to to_pandas. Users can extract useful features use a `record_converter`

See also https://github.com/PySport/kloppy/pull/64

Statsbomb data: https://github.com/statsbomb/open-data/blob/master/doc/Open%20Data%20360%20Frames%20v1.0.0.pd

[2021-12-28 11:13] MKlaasman opened #124 "Add Formation State to Opta Deserializer"
Currently Kloppy enables to add multiple states, "score", "lineup", "sequence", to the dataset using the add_state() method (see: https://kloppy.pysport.org/api/domain/event/#kloppy.domain.models.event.EventDataset.add_state). I would propose adding a "formation" state to this list.

It would be beneficial if this state_builder would feature the possibility of adding the formation of both teams. C

[2021-12-30 08:36] koenvo commented on #124
This sounds super useful! Can you elaborate a bit on how opta specifies this information? Is it a qualifier on each event or are there “formation changed” events?

For later: it would be nice if those events can be generated based on tracking data when event data provider doesn’t include them.

[2022-01-03 08:41] MKlaasman commented on #124
The F24 (events file) contain the following associated information:
Both event type_id “34” and “40” consist of a qualifier_id “130” (Team formation. Type_id “34” is an event consisting of the team set up and are normally the first and second event of an opta F24 file (one event for each team).
When an event has a type_id of “40”, it specifies a formation change. Meaning that the team alters its f

[2022-01-03 13:37] MKlaasman commented on #124
After asking a few people and diving a little bit deeper into multiple F-files, I came to the conclusion that the "Starting Formation" from the F7 files and the event type_id="34" will consist of the same formation.

[2022-01-29 10:34] koenvo commented on #124
Thanks for your contribution @MKlaasman !

[2022-01-29 10:34] #124 closed

[2022-02-20 17:07] koenvo opened #130 "Include end coordinates for non-complete passes in to_pandas"
Currently to_pandas does only include end coordinates when a pass is complete. Statsbomb data does include end coordinates for incomplete passes and the information should be made available in the to_pandas function.

https://github.com/PySport/kloppy/blob/master/kloppy/domain/models/event.py#L712

[2022-02-20 17:27] #130 closed

[2022-03-17 16:34] probberechts opened #134 "Bug in orientation transformation"
The orientation transform does not work correctly for events in which the ball-possessing and action-executing teams differ. As an illustration, consider the example below.

[code]

This dataset has an "action-executing-team" orientation and the first few actions of the game look like this:

![image](https://user-images.githubusercontent.com/2175271/158847283-2b57fc21-ea20-4b56-ba20-e2404d2d6633.p

[2022-03-17 19:34] probberechts commented on #134
Yes, it is indeed event "d6184de7-e045-41f1-acc2-4ada854e90fb" and adding `action_executing_team=event.team` solves it. I don't think it has to be `event.player.team`.

It's more convenient if you quickly make this one-line change and verify that it does not break anything else. You might have to apply the same fix to the tracking data logic.

[2022-03-18 09:53] probberechts opened #135 "Add a data model for duels"
Kloppy's event data model currently does not support events that can be categorized as duels such as tackles, 50/50s, aerials, ...

### How data providers do it

**StatsBomb** has "50/50" and "Duel" (with types "Aerial Lost" and "Tackle") events. Aerials that are won are included in a "Shot", "Clearance", or "Miscontrol" event.

 **Opta** has "50/50", "aerial" and "tackle" events

 **Wyscout**  ha

[2022-03-18 09:53] probberechts opened #136 "Add a data model for bad touches"
Kloppy's event data model currently does not support bad touches / miscontrols, which are events in which a player loses the ball due to a bad touch.

### How data providers do it

**StatsBomb** has a "miscontrol" event.

 **Opta** has a "ball touch" event with outcome 1 if the ball simply hit the player unintentionally and outcome 0 if the player unsuccessfully controlled the ball.

 **Wyscout**

[2022-03-18 09:53] probberechts opened #137 "Add a data model for clearances"
Kloppy's event data model currently does not support clearances. These are commonly defined as "an action by a defending player to clear the danger without an intention to deliver it to a teammate".

### How data providers do it

**StatsBomb** , **Opta** , **Wyscout**  and **SoccerAction** all have a custom event for clearances. This is a very simple event without outcome or custom subtypes.

###

[2022-03-18 09:53] probberechts opened #138 "Add a data model for keeper actions"
Kloppy's event data model currently does not support keeper actions. It would be great if this could be added.

### How data providers do it

**StatsBomb** has a single "Goal Keeper" event where the type of the intervention is coded as "Collected", "Goal Conceded", "Keeper Sweeper", "Penalty Conceded", "Penalty Saved", "Punch", "Penalty Saved To Post", "Save", "Saved to Post", "Shot Faced", "Shot

[2022-03-18 20:13] koenvo commented on #134
Would you mind checking https://github.com/PySport/kloppy/pull/139 ?

[2022-03-19 08:40] probberechts commented on #134
Looks good to me. Thanks for the quick fix!

[2022-03-19 10:29] koenvo commented on #134
Thanks for checking!

Issue fixed in https://github.com/PySport/kloppy/pull/139

[2022-03-19 10:29] #134 closed

[2022-03-23 21:59] #13 closed

[2022-05-15 06:56] Nneji123 opened #142 "Pattern Matching"
Search for "complexe patterns" in event data

Link is broken and I think complex isn't spelled correctly

[2022-06-28 11:40] joemulberry commented on #136
Is there an agree preference for either MisControlEvent or BallTouchEvent?

[2022-06-28 11:43] joemulberry commented on #138
Is this widely accepted as an agreed plan?

[2022-07-18 08:34] FCrSTATS opened #145 "Add nuance to distance_to_goal"
It could be worthwhile to add

distance_to_goal
distance_to_own_goal

There could be some use cases for distance_to_own_goal

[2022-08-03 09:14] tim-hy opened #148 "to_pandas fails with Metrica Open Data (Game 3)"
The Metrica Open Data repository (https://github.com/metrica-sports/sample-data) recommends loading Game 3 through Kloppy. After attempting this locally, receive this error when running `to_pandas`:

![image](https://user-images.githubusercontent.com/99428477/182571646-519bdc24-07ac-4dd2-9040-f2cb453a17d9.png)

Unsure what is causing this. Cloud loading does not work either.

[2022-08-03 10:25] koenvo commented on #148
Thanks for reporting @tim-hy !

Not sure yet why `player_data.coordinates` is `None` here. Let me check if it's an error at the Serializer side or at the source data.

[2022-08-03 19:22] tim-hy commented on #148
Thanks for your assistance. After further inspection I have found that using `metrica.load_tracking_epts()` and `to_pandas()` to import an EPTS tracking file that I had generated myself loaded without error - therefore I think this is a dataset issue (to clarify, [this dataset](https://github.com/metrica-sports/sample-data/tree/master/data/Sample_Game_3)).

I'm not sure how to proceed here - perha

[2022-08-25 05:21] koenvo commented on #148
It’s fixed in kloppy release 3.5.0. See also https://github.com/PySport/kloppy/pull/151

The input files seem to be a bit invalid tho. For now changed kloppy to not crash

[2022-09-14 15:02] MKlaasman opened #155 "End coordinates missing for offside passes (Opta)"
Not sure whether it is a design choice to not include end coordinates for offside passes.

However, I suppose there are use-cases for wanting to investigate the direction & end location of an offside pass.
IMO the positives outweigh the negatives in terms of adding the end_coordinates in this use-case.

Background info:
Within the Opta data, offside passes have a different type_id (type_id == 2) c

[2022-09-15 20:27] #142 closed

[2022-09-21 07:01] #145 closed

[2022-09-21 07:01] koenvo commented on #155
Thanks for solving this issue!

[2022-09-21 07:01] #155 closed

[2022-09-21 07:05] #148 closed

[2022-10-04 10:23] jcnunezmoreno opened #157 "Metrica EPTS loader fails when sensor is defined but player channel doen't use this information"
EPTS loader from metrica provider is failing when a sensor is defined in the metadata.xml but player channel doen't contains information for this sensor. This occurs when any sensor want to be defined only for ball data.

[2022-10-04 10:27] jcnunezmoreno opened #158 "Metrica EPTS loader doen't read the frameCount name from DataFormataSpecification"
When metadata.xml is loaded, the field name from frame count is hardcoded instead of read from the file.

[2022-10-14 21:02] #53 closed

[2022-10-19 11:12] koenvo commented on #158
Fixed in https://github.com/PySport/kloppy/pull/159

[2022-10-19 11:12] #158 closed

[2022-10-19 11:12] koenvo commented on #157
Fixed in https://github.com/PySport/kloppy/pull/159

[2022-10-19 11:12] #157 closed

[2022-10-26 09:01] mepwang opened #161 "KeyError while loading statsbomb open data"
ubuntu 22.04
python 3.10 venv
kloppy 3.6.0

the following code cause a KeyError:
[code]

trace stack:
[code]
same error occurred for statsbomb open data match id: 16029, 16136, 16149
please help here.

[2022-10-26 09:02] mepwang commented on #161
4132 and 5122 formation exist?

[2022-11-07 08:09] jcnunezmoreno opened #162 "Allow to read empty value from raw tracking data file using EPTS Metrica loader"
Metrica EPTS loader fails when empty values are in the .txt data.
At the end of the line below, there are empty data for any player.
`10232:33.38,102.50;14.65,70.97;22.84,74.62;34.63,75.08;47.08,68.72;22.80,67.59;15.05,60.20;33.42,65.31;24.64,53.47;33.14,62.13;49.18,52.95;,;,;,;,:`

Metrica epts loader parse the data using regex correctly but fails when try to convert empty string to float.

[2022-11-07 08:20] jcnunezmoreno commented on #162
Fixed in # 163